<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Project</title>
  </head>
  <body>
    <h1>Hello EJS!</h1>
    <!-- sned code to node.js -->
    <% console.log('Hello'); %>

    <!-- safe print to html -->
    <%= (5+9) %>

    <!-- Direct print -->
    <%- "<p>5 + 9 =</p>" %>

    <!-- comment with ejs -->
    <%# comment %>
  </body>
</html>
